{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block content %}
<header class="header">
  {% block header %}
  <figure class="user_logo">
      <a href="{{config.base_url}}" style="background-image: url({{config.base_url}}/{{config.extra.profile}}"></a>
  </figure>
  <h2 class="site_title">{{config.title}}</h2>
  <div>{{config.description | markdown(inline=true) | safe }}</div>
  {{ macros::social_list(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url, rss=config.generate_rss) }}
  {% endblock header %}
</header>

<nav id="overlord" class="overlord" >
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="page_container">
  <article>
    {% block post %}
      <h1 class="article_title"><a href="{{page.permalink}}" id="article_link">{{ page.title }}</a></h1>
      {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
      {{ page.content | safe }}
      {% endblock post %}
  </article>
</section>
{% endblock content %}

